body  {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/339/179/774/digital-art-low-poly-artwork-minimalism-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

